{
  "ssm_tracker_token_name": "/periodic-pivotal-chores/pivotal-tracker-api-token",
  "ssm_aws_region": "us-west-2",
  "rules": {
    "lambda-rule-name": {
      "project_id": 1234567,
      "any_parameter": "accepted by https://www.pivotaltracker.com/help/api/rest/v5#projects_project_id_stories_post_operation"
    }
  }
}
